@charset 'UTF-8';
@import 'https://fonts.googleapis.com/css?family=Lobster';

body{
    
    margin:0;
    line-height: 1.6;
    background-color: #ffffe0;
    color: #7b5544;
    text-align: center;
}
.top{
    width:100%;
    height:500px;
    background-image:url(../images/aroma.jpg);
    background-size: cover;
    font-family: 'Lobster', cursive;
    color:#fdede4;
    text-shadow: 5px 5px 2px #999999;
    font-size: 50px;
    padding: 20px auto;
  
}


    
#aromatherapy{
    margin: 5px;
}
#text{
    margin: 5px;
}
.aroma1{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    margin: 1%;
    padding: 20px;
    
    width: 31.3%;
    float: left;
    background-color: #e7e7eb;
}
.text-center{
    color: #946243;
    background-color: #f6e5cc
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
footer .bottom{
    font-size: 10px;
    line-height: 0;

    display: block;

    width: 100px;
    height: 1px;
    margin: 20px auto;
    padding: 10px;

    color: #d2b48c;
    border: 2px solid#e6e6fa;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    
    background-color: #fef4f4;
}
@media (max-width: 768px) {
  .container {

    flex-direction: column;
  }
  .aroma1{
      width: 100%;
      margin: 5px 0;
  }
  .top{
      height: 250px;
  }
}